<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- TODO user need to change directory-->
    <add key="rootPath" value="D:\20483C\Demos\20483C-Mod11-Demo-Lesson1\FourthCoffee.ExceptionLogger\Data\Exceptions"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
</configuration>
